<div class="row">
    <div class="col-md-12">
        <h2>{{ section.fields.title }}</h2>
        <p class="description">{{ section.fields.text }}</p>
        <hr>
        <div class="content">
            {{ section.fields.content | raw }}
        </div>
    </div>
</div>
